.byq-toolbar{
  position: relative;
  height: 46px;
  width: 916px;
  margin: 0 auto;
  padding-bottom: 8px;
  padding-top: 11px;
  white-space: nowrap;
  border: none;
  margin: 0 auto;
  text-align: center;
  .byq-formats{
    position: relative;
    height: 28px;
    text-align: left;
    float: left;
  }
  button{
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
    border-radius: 0;
    &:active{
      outline: none;
      border: none;
    }
    &:focus{
      outline: none;
    }
    &:hover{
      -webkit-box-shadow: 0 0 0 1px #d6d6d6 inset;
      box-shadow: inset 0 0 0 1px #d6d6d6;
    }
  }
  .byq-header{
    width: 64px;
    line-height: 1.2;
  }
  .byq-picker{
    color: #444;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 27px;
    position: relative;
    vertical-align: middle;
    text-align: initial;
    &-label{
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding-left: 8px;
      padding-right: 2px;
      position: relative;
      width: 100%;

      &:hover{
        -webkit-box-shadow: 0 0 0 1px #d6d6d6 inset;
        box-shadow: inset 0 0 0 1px #d6d6d6;
      }
      &:before{
        display: block;
        content: attr(area-label);
        line-height: 28px;
        font-size: 12px;
        color: #333;
        vertical-align: middle;
      }
      svg{
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
      }
    }
    &-label.byq-picker-expanded + .byq-picker-options{
      display: block;
    }
  }
  .byq-picker-options{
    position: absolute;
    top: 35px;
    display: none;
    list-style: none;
    border-color: #ccc;
    width: 150px;
    white-space: nowrap;
    line-height: 1;
    background-color: #fff;
    left: 50%;
    border-radius: 3px;
    z-index: 666;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    webkit-box-shadow: 0 1px 6px rgba(99,99,99,.2);
    box-shadow: 0 1px 6px rgba(99,99,99,.2);
    li{
      cursor: pointer;
      padding: 10px 20px;
      &:hover{
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }
}
