@mixin abs($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin fixed($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: fixed;
    top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin flex($z: center, $v: center, $dir: row) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: $z;
       -moz-box-pack: $z;
        -ms-flex-pack: $z;
            justify-content: $z;
    -webkit-box-align: $v;
       -moz-box-align: $v;
        -ms-flex-align: $v;
            align-items: $v;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: $dir;
            flex-direction: $dir;
}

@mixin lh($z) {
    height: $z;
    line-height: $z;
}

@mixin tf($x:-50%,$y:-50%){
    -webkit-transform: translate($x,$y);
        -ms-transform: translate($x,$y);
            transform: translate($x,$y);
}
@mixin mr($z) {
  margin-bottom: $z;
}
$baseColor: #409EFF; // 全局蓝色主色系
$lightBaseColor: #337ab7; // 浅色色系列背景色

$textColor: #337ab7; // 部分文字颜色
$gray: #808080; // 默认文字颜色

$borderColor: #dcdfe6; // 边框默认色
$borderActiveColor: #2694cb; // 边框激活色
$holdColor: #ada9a9; // 占位符颜色

$tagColor: #1fc7c7; // tagview

// 默认颜色
$sideTextColor: #12adad; // 侧边栏文字颜色
$baseColor2: #12adad;
$lightBaseColor2: #38c7c7;
