#app .tag-wrap .tag-view .current{
  background-color: #409eff;
  color: #fff !important;
  border-color: #409eff;
}
#app .router-link-active span{
  color: #409eff !important;
}
#app .router-link-active .icon{
  color: #409eff !important;
}
